body {
  background: #000;
  margin: .9em;
}

main {
  display: grid;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-auto-rows: 20em;
  grid-row-gap: 1.2em;
  justify-content: space-between;
  width: 100%;
  grid-auto-flow: row;
}

div {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div:first-child {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

img {
  height: 100%;
  height: fit-content;
  transform: rotate(90deg);
}
